.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    width: 500px;
    height: 40px;
    background-color: #fa7a4380;
    border-radius: 30px;
}

.search:focus-within{
    background-color: #fa7a434d;

}

.input{
    margin-left: 10px;
    width: 430px;
    height: 20px;
    background-color: transparent;
    border: none;
}

.input:focus{
    outline: none;

}

.listed{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
}